# Nix
.direnv/
result
result-*

# Python
.venv/
__pycache__/
*.egg-info/
*.pyc

# Rust
target/

# Environment
.env

# Dagster — ignore contents except dagster.yaml
.dg-home/*
!.dg-home/dagster.yaml

# Databases
.pg-data/
data/

# test
tests/data/


# agents
.claude/*
apm_modules/
